<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.BlogMapper">

    <select id="queryOneById" resultType="com.hmdp.entity.Blog">
        select *
        from tb_blog
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
    <update id="icrLikedById">
        update tb_blog
        set liked = liked+1
        where
        id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="dcrLikedById">
        update tb_blog
        set liked = liked-1
        where
        id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateLikedById">
        update tb_blog
        set liked = #{liked,jdbcType=NUMERIC}
        where
        id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>