<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.FollowMapper">


    <insert id="insertSelective">
        insert into tb_follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="followUserId != null">follow_user_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=NUMERIC},</if>
            <if test="userId != null">#{userId,jdbcType=NUMERIC},</if>
            <if test="followUserId != null">#{followUserId,jdbcType=NUMERIC},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <delete id="delByUserIdAndFollowUserId">
        delete from tb_follow
        where
        user_id = #{userId,jdbcType=NUMERIC}
        AND follow_user_id = #{followUserId,jdbcType=NUMERIC}
    </delete>
    <select id="countByUserIdAndFollowUserId" resultType="int">
        select count(1)
        from tb_follow
        where
        user_id = #{userId,jdbcType=NUMERIC}
        AND follow_user_id = #{followUserId,jdbcType=NUMERIC}
    </select>

    <select id="commonFollowId" resultType="java.lang.Long">
        select follow_user_id
        from tb_follow
        where
        user_id = #{userId,jdbcType=NUMERIC}
        and follow_user_id in(
            select follow_user_id
            from tb_follow
            where
            user_id = #{targetId,jdbcType=NUMERIC}
        )

    </select>
    <select id="queryUserIdByFollowUserId" resultType="java.lang.Long">
        select user_id
        from tb_follow
        where
        follow_user_id = #{followUserId,jdbcType=NUMERIC}
    </select>
</mapper>